
body{
    background-color: black;
    color: white;
    font-family: 'Play', sans-serif;
}

/* HEADER */

.logonav{
    max-width: 100px;
    max-height: 150px;
}

#contentcollapse a{
    text-decoration: none;
    color: white;
    font-size: 20pt;
}

/* CORPS du document*/

.row{
    position: relative;
    margin-bottom: 350px;
}

/* FOOTER */

#footer{
    text-align: center;
    margin-top: 20px; 
    position: sticky; bottom: 0px;
}

.logofoot{
    max-width: 50px;
    max-height: 100px;
}

#mentions a{
    text-decoration: none;
    color: white;
    font-size: 20pt;
}


